@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Caprasimo', cursive;
    height: 100vh;
    
}

.buttons{
    
    width: 300px;
    display:flex;
    justify-content: center;
    /*flex-direction: column;*/
    align-items: center;
    height: 50vh;
    width: 50vh;
    
    
    
}

.top{
    
    
    display:flex; 
    justify-content: center;
    height: 25vh;
    width: 50vh;
    
}

.bottom{
    
    display:flex;
    width: 25vh;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width:25vh;
}

#rock{
    background-color: red;
    height: 25vh;
    width: 25vh;
    font-size: 32px;
    font-family: 'Caprasimo', cursive;
}

#scissor{
    background-color: blue;
    height:25vh;
    width: 25vh;
    font-size: 32px;
    font-family: 'Caprasimo', cursive;
}

#paper{
    background-color: green;
    height: 25vh;
    width: 25vh;
    font-size: 32px;
    font-family: 'Caprasimo', cursive;
}

.update {
    display:flex;
    
    border: 2px solid black;
    width: 100vh;
    justify-content: space-evenly;
}

.update > .left{
    
    border: 2px solid red;
    width: 50vh;
    display:flex;
    flex-direction: column;
    
}

.update > .left > .scoreBoard{
    display:flex;
    justify-content: space-evenly;
}

.update > .left > .score{
    display:flex;
    justify-content: space-evenly
}

.update > .right{
    display:flex;
    border: 2px solid green;
    align-items: center;
    justify-content: center;
    width: 50vh;
}